 .flex {
     display: flex;
 }

 .justify-center {
     justify-content: center;
 }

 .items-center {
     align-items: center;
 }
 .invert{
    filter: invert(1);
 }
 .bg-black{
    background-color: black;
    color: white;
 }
 .bg-gray{
    background-color: #121212;
 }
 .rounded{
    border-radius: 7px;
 }
 .m-1{
    margin: 5px;
 }
 
.cardContainer::-webkit-scrollbar,
.songslist ul::-webkit-scrollbar {
  width: 0px;
}
.cardContainer::-webkit-scrollbar,
.songslist ul::-webkit-scrollbar {
  height: 0px;
}

.cardContainer::-webkit-scrollbar-track,
.songslist ul::-webkit-scrollbar-track {
  background: transparent;
}

.cardContainer::-webkit-scrollbar-thumb,
.songslist ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.cardContainer::-webkit-scrollbar-thumb:hover,
.songslist ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
